$background-black--primary: #1e1c1a;
$background-black--secondary: #2a2624;

$colored_highlight_3: #782437;
$colored_highlight_2: #551a1f;
$colored_highlight_1: #372728;

$text-color--highlight: #dcdad8;
$text-color: #c8c6c4;
$text-color--dimmed: #b4b2b0;
$text-color--dark: #afadab;

$lsidebar-icon-size: 26px;