@import "../../../../../../../shared/UI/scss/variables";
@import "../../../../../../../shared/UI/scss/mixins";


.NoteModeSwitchBtn {
  @include flex-row;
  position: fixed;
  top: 15px;
  pointer-events: none;

  &__spacer {
    width: 640px;
    height: 0;
  }

  &__container {
    pointer-events: all;
    cursor: pointer;
    @include flex-row;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
  }

  img {
    -webkit-user-drag: none;
    width: 18px;
    height: 18px;
  }
}
